{{#if hayProductos}}
<ul>
    {{#each productos}}
     </a>
    <li> id: {{this.id}} | Titulo: {{this.title}} | Desripcion : {{this.description}} | codigo: {{this.code}} | Precio: {{this.price}} | Stock: {{this.stock}}| Status: {{this.status}}</li><br>
    {{/each}}
</ul>
{{else}}
<p>no hay producto para mostrar</p> 
{{/if}}
